.heading{
    font-size: 22.5px;
    background-color: white;
    width: 100%;
    margin-top: 0px;
    color: rgba(136,68,175,1);
}

.heading:hover{
    color: rgba(136,68,175,1);
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background: rgb(185,87,87);
    background: linear-gradient(90deg, rgba(185,87,87,1) 0%, rgba(136,68,175,1) 50%, rgba(91,175,202,1) 100%);
}

canvas{
    border: 5px soild white;
    border-radius: 25px;
}